<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63897695345-552dobril93m3ssat6esr7n5qrnb8mhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63897695345-552dobril93m3ssat6esr7n5qrnb8mhe</string>
	<key>API_KEY</key>
	<string>AIzaSyBInydZT8jRWY4I5uMufXDvPXmfKEYMOwU</string>
	<key>GCM_SENDER_ID</key>
	<string>63897695345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signalApp</string>
	<key>PROJECT_ID</key>
	<string>greepipsfx-project</string>
	<key>STORAGE_BUCKET</key>
	<string>greepipsfx-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63897695345:ios:d88e3d3f963c8541e457d0</string>
</dict>
</plist>